/JavaApplication3/nbproject/private/
/Enterprise Application/Enterprise Application-ejb/build/
/Enterprise Application/Enterprise Application-ejb/dist/
/Enterprise Application/Enterprise Application-ejb/nbproject/private/
/Enterprise Application/Enterprise Application-war/build/
/Enterprise Application/Enterprise Application-war/dist/
/Enterprise Application/Enterprise Application-war/nbproject/private/
/Enterprise Application/build/
/Enterprise Application/dist/
/Enterprise Application/nbproject/private/
/Interfaces/build/
/Interfaces/dist/
/Interfaces/nbproject/private/
/Java Application/build/
/Java Application/dist/
/Java Application/nbproject/private/