<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- servlet defs -->
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>allshoes.web.servlet.Index</servlet-class>
    </servlet>
    <!-- servlet mappings -->
    <servlet>
        <servlet-name>Feminino</servlet-name>
        <servlet-class>allshoes.web.servlet.Feminino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Masculino</servlet-name>
        <servlet-class>allshoes.web.servlet.Masculino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Infantil</servlet-name>
        <servlet-class>allshoes.web.servlet.Infantil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Marcas</servlet-name>
        <servlet-class>allshoes.web.servlet.Marcas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeusPedidos</servlet-name>
        <servlet-class>allshoes.web.servlet.MeusPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeuCadastro</servlet-name>
        <servlet-class>allshoes.web.servlet.MeuCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Atendimento</servlet-name>
        <servlet-class>allshoes.web.servlet.Atendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaDeDesejos</servlet-name>
        <servlet-class>allshoes.web.servlet.ListaDeDesejos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeuCarrinho</servlet-name>
        <servlet-class>allshoes.web.servlet.MeuCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>allshoes.web.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Busca</servlet-name>
        <servlet-class>allshoes.web.servlet.Busca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalheDoPedido</servlet-name>
        <servlet-class>allshoes.web.servlet.DetalheDoPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalheDoProduto</servlet-name>
        <servlet-class>allshoes.web.servlet.DetalheDoProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pagamento</servlet-name>
        <servlet-class>allshoes.web.servlet.Pagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizacaoDoPedido</servlet-name>
        <servlet-class>allshoes.web.servlet.FinalizacaoDoPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EsqueciMinhaSenha</servlet-name>
        <servlet-class>allshoes.web.servlet.EsqueciMinhaSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar</servlet-name>
        <servlet-class>allshoes.web.servlet.Cadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProduto</servlet-name>
        <servlet-class>allshoes.web.servlet.AdicionarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarPagamento</servlet-name>
        <servlet-class>allshoes.web.servlet.RealizarPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticar</servlet-name>
        <servlet-class>allshoes.web.servlet.Autenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastro</servlet-name>
        <servlet-class>allshoes.web.servlet.Cadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeuCadastroAlterar</servlet-name>
        <servlet-class>allshoes.web.servlet.MeuCadastroAlterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarEndereco</servlet-name>
        <servlet-class>allshoes.web.servlet.ConfirmarEndereco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feminino</servlet-name>
        <url-pattern>/Feminino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Masculino</servlet-name>
        <url-pattern>/Masculino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Infantil</servlet-name>
        <url-pattern>/Infantil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Marcas</servlet-name>
        <url-pattern>/Marcas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeusPedidos</servlet-name>
        <url-pattern>/MeusPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuCadastro</servlet-name>
        <url-pattern>/MeuCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Atendimento</servlet-name>
        <url-pattern>/Atendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaDeDesejos</servlet-name>
        <url-pattern>/ListaDeDesejos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuCarrinho</servlet-name>
        <url-pattern>/MeuCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Busca</servlet-name>
        <url-pattern>/Busca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalheDoPedido</servlet-name>
        <url-pattern>/DetalheDoPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalheDoProduto</servlet-name>
        <url-pattern>/DetalheDoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pagamento</servlet-name>
        <url-pattern>/Pagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizacaoDoPedido</servlet-name>
        <url-pattern>/FinalizacaoDoPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsqueciMinhaSenha</servlet-name>
        <url-pattern>/EsqueciMinhaSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar</servlet-name>
        <url-pattern>/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProduto</servlet-name>
        <url-pattern>/AdicionarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarPagamento</servlet-name>
        <url-pattern>/RealizarPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticar</servlet-name>
        <url-pattern>/Autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastro</servlet-name>
        <url-pattern>/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeuCadastroAlterar</servlet-name>
        <url-pattern>/MeuCadastroAlterar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarEndereco</servlet-name>
        <url-pattern>/ConfirmarEndereco</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>  
            30  
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
